@page

@{
    Layout = "_PageLayout"; // Especifica el layout secundario
    // ViewBag.Title = "ContaClic";
}


   
        <!-- <h1>ContaClic</h1><br> -->
         <br>
         <br>
        <br>
        <div class="contenedor">
            <p>
                ContaClic es un software contable diseñado para el aprendizaje de los estudiantes. Es fácil de usar y ofrece todas las funciones necesarias para obtener un mejor aprendizaje.
            </p>
        </div>

   
 
